<h1 class="mt-1">İlginizi Çekebilecek Ürünler</h1>
<div class="row mt-4">
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/AsusROGDelta.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Asus ROG Delta</h5>
          <p class="card-text mt-3">ROG Delta - Yüksek Çözünürlüklü ESS Quad-DAC, dairesel RGB aydınlatma efekti ve PC-ler, konsollar ve mobil oyunlar için USB-C bağlantısına sahip RGB oyuncu kulaklığı.</p>
          <a href="http://localhost:4200/products/-NKs9zMoXiWZkZGw7cMU" class="btn btn-outline-primary mt-4">Ürün Detayı</a>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/SteelSeriesArctis9X.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Steel Series Arctis 9X</h5>
          <p class="card-text mt-3">Tüm platformlarda temiz sesli iletişim için Discord tarafından sertifikalı ClearCast gürültü önleyici mikrofon. Arctis'in imza ses özelliği kısık fakat kritik seslerde yoğunlaşarak size ses avantajı sağlar.</p>
          <a href="http://localhost:4200/products/-NKsA9NTg3dU01aywcxg" class="btn btn-outline-primary">Ürün Detayı</a>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/SteelSeriesAerox9Wireless.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Steel Series Aerox 9 Wireless</h5>
          <p class="card-text mt-3">Ultra hafif 89g tasarımıyla MOBA, MMO ve diğer karmaşık oyunlar için mükemmel bir oyuncu faresindir. Rahatlık ve çok yönlülük için tasarlanmıştır.</p>
          <a href="http://localhost:4200/products/-NLB0vYJ1BtM3Il0gn9G" class="btn btn-outline-primary mt-4">Ürün Detayı</a>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/logitechG403Hero.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Logitech G403 Hero</h5>
          <p class="card-text mt-3">Konfor için tasarlanan G403, ekstra kontrol için kauçuk kavrama yerlerine sahiptir. HERO 25K sensör, mikron altı seviyede izleme yapmanıza olanak tanır. Tam spektrumlu LIGHTSYNC RGB ve 6 adet programlanabilir tuş kontrolü size bırakır.</p>
          <a href="http://localhost:4200/products/-NLB0Xa0l04aYqnEcK_P" class="btn btn-outline-primary">Ürün Detayı</a>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/SteelSeriesApex5.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Steel Series Apex 5</h5>
          <p class="card-text mt-3">Hibrit mavi mekanik oyuncu anahtarları 20 milyon tuş basımı garantili
            OLED akıllı ekran profilleri, oyun bilgilerini, Discord mesajlarını ve daha fazlasını görüntüler.</p>
            <a href="http://localhost:4200/products/-NKs9Qd-ZhRunqCqZDk4" class="btn btn-outline-primary mt-5">Ürün Detayı</a>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/CorsairT1RaceWhite.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Corsair T1 Race White</h5>
          <p class="card-text mt-3">Geniş oturma alanı, yüksek sırt ve çift renkli tasarıma sahip olan Corsair T1 Race oyuncu koltuğu, uzun soluklu oyun seanslarında size ihtiyacınız olan tarz, konfor ve dayanıklılığı bir arada sunar.</p>
          <a href="http://localhost:4200/products/-NKsAsnb3mU9KOMcPJ0x" class="btn btn-outline-primary mt-5">Ürün Detayı</a>
        </div>
    </div>
</div>

<h1 class="mt-5">Çok Satanlar</h1>
<div class="row mt-4">
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/LogitechG733White.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Logitech G733 White</h5>
          <p class="card-text mt-3">Performans ve konfor için tasarlanmış kablosuz oyun kulaklığı. Görmeniz, duymanız ve her zamankinden daha fazla tarz sahibi şekilde oynamanız için ihtiyacınız olan tüm surround ses, ses filtreleri ve gelişmiş aydınlatma ile donatılmıştır.</p>
          <a href="http://localhost:4200/products/-NKsAW2Yxd5WmqOVOsB-" class="btn btn-outline-primary">Ürün Detayı</a>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/LogitechG635.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Logitech G635</h5>
          <p class="card-text mt-3">50 mm PRO-G ses sürücüleri ve DTS Kulaklık:X 2.01 en kapsayıcı, ayrıntılı ve sürükleyici ses algısını yaratıyor. LIGHTSYNC RGB aydınlatmasından G tuşlarına ve ses tercihlerine kadar G HUB ile tamamen özelleştirilebilir.</p>
          <a href="http://localhost:4200/products/-NKsAa4rfWJ_oGLUNbZc" class="btn btn-outline-primary mt-5">Ürün Detayı</a>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/deathadderV3.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Razer Deathadder V3</h5>
          <p class="card-text mt-3">Razer DeathAdder V3 Pro ile zafer yeni bir şekle bürünüyor. En iyi espor profesyonellerinin yardımıyla yeniden şekillendirilen ikonik ergonomik formu, rekabetçi oyunun sınırlarını zorlamak için bir dizi artık önceki modele göre %25'ten daha hafif.</p>
          <a href="http://localhost:4200/products/-NLAuWttHYwbSbZZmE4a" class="btn btn-outline-primary">Ürün Detayı</a>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/SteelseriesRival650.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Steel Series Rival 650</h5>
          <p class="card-text mt-3">Özel Quantum KablosuzTM gecikmesiz 1000Hz (1ms) oyun deneyimi sunar.
            15 dakikalık hızlı şarj 10 saatten fazla kullanım sağlar.
            TrueMove3 optik sensörle gerçek 1'e 1 izleme hassasiyeti.
            Anlık yerden kaldırma tespiti için ikincil derinlik sensörü.</p>
            <a href="http://localhost:4200/products/-NLB1mVTdPyicr2AG9oH" class="btn btn-outline-primary">Ürün Detayı</a>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/RazerOrnataV3.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Razer Ornata V3</h5>
          <p class="card-text mt-3">Mekanik bir anahtarın hızlı, tıklamalı geri bildirimini geleneksel bir klavyenin tanıdık hissi ile birleştirerek, yaptığınız her tuş vuruşu kesin olduğu kadar tatmin edicidir.</p>
          <a href="http://localhost:4200/products/-NKs9i3xLGyEjGF4BswA" class="btn btn-outline-primary mt-5">Ürün Detayı</a>
        </div>
    </div>
    <div class="card me-3" style="width: 18rem;">
        <img src="assets/images/MSIMAGCH120.jpg" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">MSI MAG CH120</h5>
          <p class="card-text mt-3">Tamamen çelik iskelet.
            180° yatma açısı.
            4D çok yönlü ayarlanabilir oturma bölgesi ve kolçaklar.
            Class 4 sertifikalı gaz amortisör.
            5 ayaklı çelik taban tasarımı.
            Son derece akıcı ve sessiz PU tekerlekler.
            Ergonomik boyun ve bel destek yastıkları.</p>
            <a href="http://localhost:4200/products/-NKsAo7L6iHttE3IWJ9U" class="btn btn-outline-primary">Ürün Detayı</a>
        </div>
    </div>
</div>


